@import '../../../assets/variables.scss'; 

.navigation {
    
    ul {
        li {
            list-style-type: none;
            a {
                color: $grey;
                cursor: pointer;
                white-space: nowrap;
                text-decoration: none;

                &:hover {
                    color: $white;
                    transition: .3s;
                }

            }
        }

        @media (max-width: 794px) {
            li {
                display: none;
            }
        }
    }
}

.active {
    color: white !important;
} 