    <div class="footer__line col-12 d-flex justify-content-between p-2 align-items-center">
        <div class="footer__line__logo col-lg-4 d-flex justify-content-center">
            <img src="assets/images/logo1.png" alt="">
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
            <span>© 2020  Copyrigts Giorgi Zeikidze</span>
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
            <span>Don’t forget to rate 💙</span>
        </div>
    </div>
