<div class="services mt-5">
    <div class="services__content dark-content p-5">
        <div class="services__content__title">
            <div class="mt-3">
                <h4> {{ 'Services.main-title' | translate }} </h4>
            </div>
            <div class="mt-3">
                <!-- <p>
                    We provide enterprise-level of service, covering all areas of software 
                    development: iOS, Android, Web as well as offering professional UX/UI 
                    design expertise.
                </p>     -->
            </div>
        </div>

        <div class="services__content__box row d-flex row p-3">
            
            <div class="services__content__box__text col-md-6 row">
                <h4> {{ 'Services.tit-1' | translate }}  </h4>
                <p> It's not just enough to develop websites that only look good, but it's essential 
                    to make them human-friendly, make them work on all browsers, make them accessibility-friendly 
                    and viewable on tablets and mobile devices of all sorts. That 's what we do!
                </p>
                <div class="services__content__box__text__details  col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Flexible</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <div class="">
                            <p>We make responsive, cross-browser, and technically advanced websites.</p>
                        </div>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Users won't leave</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <div class="">
                            <p>Engaging content is not enough, but the convenient organization and caring about 
                                the reader will do the magic.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Make it easy</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <div class="">
                            <p>Let your users enjoy an intuitive website navigation experience, 
                                with easy access to any page.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Human-centered design</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <div class="">
                            <p>We're all about UX! We know the fastest and most intuitive way of 
                                giving a user the answer he is looking for.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="services__content__box__image col-md-6 d-flex justify-content-end">
                <img src="assets/images/ilustrations/design.svg" alt="img">
            </div>

            
            <!--  & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & -->

            <div class="services__content__box__image col-md-6 d-flex">
                <img src="assets/images/ilustrations/developer.svg" alt="img">
            </div>

            <div class="services__content__box__text col-md-6 row">
                <h4>  {{ 'Services.tit-2' | translate }}  </h4>
                <div class="">
                    <p> Whatever your business is, Webuko can create a stunning and intuitive 
                        website that will impress your customers and attract new ones. Moreover, 
                        your site will be created using best practices for search engines.
                    </p>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Following standards</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <div class="">
                            <p>We ensure that each line of code is working by W3C standards..</p>
                        </div>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Constant compatibility</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <div class="">
                            <p>In any browser, everyone will have the same experience. 
                                We're always up to date with cross-browser testing.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Yes, the code is also trendy</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <div class="">
                            <p>We always tend to learn new technologies day by day to ensure that your product is 
                                the most advanced out there..
                            </p>
                        </div>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>SEO & statistics</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <div class="">
                            <p>Enhancing and improving website search engine discoverability along with deep 
                                Google Analytics integration.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!--  & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & -->

            <div class="services__content__box__text col-md-6 row">
                <h4>{{ 'Services.tit-3' | translate }}</h4>
                <p> It's not just enough to develop websites that only look good, but it's essential 
                    to make them human-friendly, make them work on all browsers, make them accessibility-friendly 
                    and viewable on tablets and mobile devices of all sorts. That 's what we do!
                </p>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Flexible</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <div class="">
                            <p>We make responsive, cross-browser, and technically advanced websites.</p>
                        </div>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Users won't leave</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <div class="">
                            <p>Engaging content is not enough, but the convenient organization and caring about 
                                the reader will do the magic.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Make it easy</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <div class="">
                            <p>Let your users enjoy an intuitive website navigation experience, 
                                with easy access to any page.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Human-centered design</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <div class="">
                            <p>We're all about UX! We know the fastest and most intuitive way of 
                                giving a user the answer he is looking for.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="services__content__box__image col-md-6 d-flex justify-content-end">
                <img src="assets/images/ilustrations/analytic.svg" alt="img">
            </div>
            
        <!--  & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & -->

        <div class="services__content__box__image col-md-6 d-flex">
            <img src="assets/images/ilustrations/hologram.svg" alt="img">
        </div>

        <div class="services__content__box__text col-md-6 row">
            <h4>{{ 'Services.tit-4' | translate }}</h4>
            <p> You have a working product, but it has overgrown its technologies? Node.js 
                fits the needs of a fast-changing Internet that is increasingly mobile. 
                We have the best specialists that are here to help.
            </p>
            <div class="services__content__box__text__details col-lg-6 p-0">
                <div class="services__content__box__text__details__title">
                    <h4>Performance</h4>
                </div>
                <div class="services__content__box__text__details__description">
                    <div class="">
                        <p>Node.js is fast. Node.js is asynchronous, which helps it be the most 
                            reliable technology for your application.
                        </p>
                    </div>
                </div>
            </div>
            <div class="services__content__box__text__details col-lg-6 p-0">
                <div class="services__content__box__text__details__title">
                    <h4>Efficiency</h4>
                </div>
                <div class="services__content__box__text__details__description">
                    <div class="">
                        <p>Node.js is designed for high-load projects, it can handle 
                            thousands of concurrent requests.
                        </p>
                    </div>
                </div>
            </div>
            <div class="services__content__box__text__details col-lg-6 p-0">
                <div class="services__content__box__text__details__title">
                    <h4>Staying up to date</h4>
                </div>
                <div class="services__content__box__text__details__description">
                    <div class="">
                        <p>We go hand in hand with technology, and by using Node.js we can do more for you!</p>
                    </div>
                </div>
            </div>
            <div class="services__content__box__text__details col-lg-6 p-0">
                <div class="services__content__box__text__details__title">
                    <h4>Support</h4>
                </div>
                <div class="services__content__box__text__details__description">
                    <div class="">
                        <p>We tend to build future-proof projects. With modularity, support, and 
                            maintenance of Node.js, it's a piece of cake!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <!--  & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & -->
        <div class="services__content__box__text col-md-6" style="align-self: center; border: none;">
            <h4> {{ 'Services.tit-5' | translate }} </h4>
            <p> It's not just enough to develop websites that only look good, but it's essential 
                to make them human-friendly, make them work on all browsers, make them accessibility-friendly 
                and viewable on tablets and mobile devices of all sorts. That 's what we do!
            </p>
        </div>

        <div class="services__content__box__image col-md-6 d-flex justify-content-end">
            <img src="assets/images/ilustrations/social.svg" alt="img">
        </div>
    <!--  & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & -->
    
        </div>
        <div class="services__content__order col-12 mt-4 mb-5">
            <div class="services__content__order__title">
                <h4>Interested ?</h4>
            </div>
            <div class="services__content__order__button mt-4">
                <button class="btn-main" (click)="onNavigate()"> {{ 'buttons.see-packages' | translate }} </button>
            </div>
        </div>
    </div>
</div>
