<div class="about-us mt-5">
    <div class="about-us__content dark-content p-5">
        <div class="about-us__content__title col-12">
            <h4>We make the world better!</h4>
            <p class="mt-4">We build top-notch web & mobile solutions using the latest technology 
               and our superior expertise to enhance your business growth.
            </p>
        </div>
        <div class="about-us__content__main d-flex row">
            <div class="about-us__content__main__image mt-3  col-md-6">
             <div class="dark-content h-100 p-4" >
                    <img src="assets/images/ilustrations/team.svg" alt="">
                </div>
            </div>
            <div class="about-us__content__main__description mt-3 col-md-6">
                <div class="about-us__content__main__description__effect  dark-content h-100 p-4">
                    <h4>About Us</h4>
                    <p>We are a startap team of talented professionals. 
                        We are technology maniacs and always work with proven stack 
                        of technologies. During last 5 years we worked exclusively in 
                        MEAN stack and gained a tremendous amount of experience in these 
                        technologies. We don’t stop learning: we use new technologies as a learning tool, 
                        not just because it's "just a cool new thing."
                    </p>
                    <div class="about-us__content__main__description__button  d-flex">
                        <div class="about-us__content__main__description__button__title mt-4 w-100">
                            <div class="dark-content">
                                <h3 *ngIf="!isyle" (click)="fun()" style="cursor: pointer;">Want to work with us ?</h3>
                            </div>
                            <div class="w-100 d-flex justify-content-center mt-5">
                                <button class="btn-main">Let's Talk</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>   