<div class="navigation w-100">
    <ul class="d-flex justify-cotnent-between">
        <li class="col-lg" >
            <a [routerLink]="['/home']" routerLinkActive="active" >
                Home
            </a>
        </li>
        <li class="col-lg">
            <a [routerLink]="['services']" routerLinkActive="active" >
                Services
            </a>
        </li >
        <li class="col-lg">
            <a [routerLink]="['about-us']" routerLinkActive="active" >
                About us
            </a>
        </li>
        <li class="col-lg">
            <a [routerLink]="['order']" routerLinkActive="active" >
                Order
            </a> 
        </li>
        <li class="col-lg">
            <a [routerLink]="['contact']" routerLinkActive="active" >
                Contact
            </a>
        </li>
    </ul>
</div>