<div class="about-us mt-5 d-flex row">
    <div class="about-us__box__title col-12 d-flex justify-content-center">
            <h4> What we do, so you succeed ?</h4>
    </div>
    <div class="about-us__box d-flex justify-content-between align-items-center row">

            <div class="about-us__box__text col-md-6">
                <h4>User Experience Design</h4>
                <div class="mt-3">
                    <p>Our UI/UX designers produce the most attractive and polished 
                        designs for your product you could ever dream of. It's not 
                        just enough to develop websites that only look good, but it's 
                        essential to make them human-friendly, make them work on all
                         browsers, make them accessibility-friendly and viewable on 
                         tablets and mobile devices of all sorts. That 's what we do!
        
                    </p>
                </div>
            </div>
        
            <div class="about-us__box__image col-md-6 d-flex justify-content-center">
               <div class="shadow-box d-flex align-items-center justify-content-center">
                   <img src="assets/images/content.svg" alt="">
               </div>
            </div>


            <div class="about-us__box__image col-md-6 d-flex justify-content-center">
               <div class="shadow-box d-flex align-items-center justify-content-center">
                   <img src="assets/images/writing.svg" alt="">
               </div>
            </div>
    
            <div class="about-us__box__text col-md-6">
                <h4>Custom Web Development</h4>
                <div class="mt-3">
                    <p>We create the good-looking and functional websites using the latest and greatest industry 
                        technologies and approaches.Whatever your business is, Webuko can create a 
                        stunning and intuitive website that will impress your customers and attract new ones. Moreover, 
                        your site will be created using best practices for search engines.
                    </p>
                </div>
            </div>

    
            <div class="about-us__box__text col-md-6">
                <h4>Hybrid Applications</h4>
                <div class="mt-3">
                    <p>Our UI/UX designers produce the most attractive and polished 
                        designs for your product you could ever dream of. It's not 
                        just enough to develop websites that only look good, but it's 
                        essential to make them human-friendly, make them work on all
                         browsers, make them accessibility-friendly and viewable on 
                         tablets and mobile devices of all sorts. That 's what we do!
                    </p>
                </div>
            </div>
            <div class="about-us__box__image col-md-6 d-flex justify-content-center">
               <div class="shadow-box d-flex align-items-center justify-content-center">
                   <img src="assets/images/innovation.svg" alt="">
               </div>
            </div>

</div>