@import '../../../assets/variables.scss'; 


.about-us {
    border-bottom: 1px solid $dark-grey;
 &__box {
        margin-top: 5rem; 

     &__title {
         text-align: center;
         h4 {
             font-size: 2.25rem;
             color: $light-grey;
         }
     }
 
     &__text {
        @media (max-width: 794px) {
            border-bottom: 1px solid $cool-grey;
        }
         h4 {
             color: $white;
             font-size: 2rem;
             @media (max-width: 794px) {
                margin-top: 3rem;
            }
 
         }
         p {
             color: $light-grey;
             font-size: 1rem;
             line-height: 1.875rem;
         }
     }

     &__image {
         .shadow-box {
             background: #102131;
             box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.489159);
             border-radius: 15px;
             transform: rotate(45deg);
             width: 16rem;
             height: 16rem;
             margin-top: 4rem;
            margin-bottom: 5rem;
            img {
                // transform: rotate(-50deg);
                width: 55%;
                height: 55%;
                transform: rotate(-45deg);
                @media (max-width: 794px) {
                    display: none;
                }
                
            }

            @media (max-width: 794px) {
                display: none !important;

            }
         }
     }
 }
}