<div class="contact dark-content pb-5 row">
    <div class="contact__title col-12">
        <h4>How can we help?</h4>
        <p>
            Fill the form below to discuss how Webuko can help with 
            your ambitious software needs!
        </p>
    </div>
    <div class="contact__information col-md-6 mt-5">
        <div class="dark-content h-100 pl-5">
            <div class="contact__information__title mt-4">
                <h4>Let's Talk</h4>
            </div>
            <div class="contact__information__information mt-5">
                <h4>Contact Email </h4>
                <p>webuko@gmail.com</p>
            </div>
            <div class="contact__information__information mt-4">
                <h4>Contact Phones </h4>
                <p>(+995) 599 12 32 70</p>
                <p>(+995) 599 12 32 70</p>
            </div>
            <div class="contact__information__information mt-4">
                <h4>Location </h4>
                <p>Tbilisi, Georgia</p>
            </div>

        </div>
    </div>
    <div class="contact__form col-md-6 mt-5">
        <div class="dark-content h-100 pl-5">
            <div class="contact__form__title mt-4">
                <h4>We'd love to hear from you!</h4>
            </div>
            <form action="">
                <div class="col-12 mt-5">
                    <input type="text" class="form-control" placeholder="Your name">
                </div>
                <div class="col-12 mt-4">
                    <input type="text" class="form-control" placeholder="Your email">
                </div>
                <div class="col-12 mt-4">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Message" class="form-control"></textarea>
                </div>
                <div class="col-12 d-flex justify-content-center mt-4">
                    <button class="btn-main">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>