@import '../../assets/variables.scss'; 

.services {
    // height: 100vh;
    &__content {
        &__title {
            text-align: center;
            h4 {
                font-size: 2.25rem;
                color: $light-grey;
            }
            p {
                font-size: 1rem;
                color: $cool-grey;
                
            }
        }

        &__box {
            margin-top: 5.5rem;
            &__text {
                margin-top: 6rem;
                h4 {
                    color: $white;
                }
                p {
                    color: $light-grey;
                }

                &__details {
                    h4 {
                        font-size: 1rem;
                    }
                    p {
                        font-size: .875rem;
                    }
                }
            }

            &__image {
                align-items: center;
                img {
                    width: 80%;
                    height: 100%;
                }
            }
        }
    }
}