@import '../../assets/variables.scss'; 

.services {
    // height: 100vh;
    &__content {
        &__title {
            text-align: center;
            h4 {
                font-size: 2.25rem;
                color: $light-grey;
            }
            p {
                font-size: 1rem;
                color: $cool-grey;
                
            }
        }

        &__box {
            // margin-top: .5rem;
            &__text {
                margin-top: 6rem;
                h4 {
                    color: $white;
                }
                p {
                    color: $light-grey;
                }

                &__details {
                    h4 {
                        font-size: 1rem;
                    }
                    p {
                        font-size: .875rem;
                    }
                }
            }

            &__image {
                align-items: center;
                img {
                    margin-top: 4rem;
                    width: 80%;
                    height: 100%;
                }
            }
        }

        &__order {
            text-align: center;
            &__title{
                h4 {
                    font-size: 2.25rem;
                    color: $white;
                    border-bottom: 1px solid $white;
                    padding-bottom: 1.5rem;
                }
            }

        }
    }
}