<div class="services mt-5">
    <div class="services__content dark-content p-4">
        <div class="services__content__title">
            <div class="mt-3">
                <h4>Big challenges require Big ideas</h4>
            </div>
            <div class="mt-4">
                <!-- <p>
                    We provide enterprise-level of service, covering all areas of software 
                    development: iOS, Android, Web as well as offering professional UX/UI 
                    design expertise.
                </p>     -->
            </div>
        </div>

        <div class="services__content__box row d-flex row p-3">
            
            <div class="services__content__box__text col-lg-6 row">
                <h4>User experience design</h4>
                <p> It's not just enough to develop websites that only look good, but it's essential 
                    to make them human-friendly, make them work on all browsers, make them accessibility-friendly 
                    and viewable on tablets and mobile devices of all sorts. That 's what we do!
                </p>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Flexible</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <p>We make responsive, cross-browser, and technically advanced websites.</p>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Users won't leave</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <p>Engaging content is not enough, but the convenient organization and caring about 
                            the reader will do the magic.
                        </p>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Make it easy</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <p>Let your users enjoy an intuitive website navigation experience, 
                            with easy access to any page.
                        </p>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Human-centered design</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <p>We're all about UX! We know the fastest and most intuitive way of 
                            giving a user the answer he is looking for.
                        </p>
                    </div>
                </div>
            </div>

            <div class="services__content__box__image col-lg-6 d-flex justify-content-end">
                <img src="assets/images/ilustrations/design.svg" alt="img">
            </div>

            
            <!--  & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & -->

            <div class="services__content__box__image col-lg-6 d-flex">
                <img src="assets/images/ilustrations/developer.svg" alt="img">
            </div>

            <div class="services__content__box__text col-lg-6 row">
                <h4>Custom web development</h4>
                <p> Whatever your business is, Webuko can create a stunning and intuitive 
                    website that will impress your customers and attract new ones. Moreover, 
                    your site will be created using best practices for search engines.
                </p>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Following standards</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <p>We ensure that each line of code is working by W3C standards..</p>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Constant compatibility</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <p>In any browser, everyone will have the same experience. 
                            We're always up to date with cross-browser testing.
                        </p>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Yes, the code is also trendy</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <p>We always tend to learn new technologies day by day to ensure that your product is 
                            the most advanced out there..
                        </p>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>SEO & statistics</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <p>Enhancing and improving website search engine discoverability along with deep 
                            Google Analytics integration.
                        </p>
                    </div>
                </div>
            </div>

            <!--  & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & -->

            <div class="services__content__box__text col-lg-6 row">
                <h4>SEO Optimization</h4>
                <p> It's not just enough to develop websites that only look good, but it's essential 
                    to make them human-friendly, make them work on all browsers, make them accessibility-friendly 
                    and viewable on tablets and mobile devices of all sorts. That 's what we do!
                </p>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Flexible</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <p>We make responsive, cross-browser, and technically advanced websites.</p>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Users won't leave</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <p>Engaging content is not enough, but the convenient organization and caring about 
                            the reader will do the magic.
                        </p>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Make it easy</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <p>Let your users enjoy an intuitive website navigation experience, 
                            with easy access to any page.
                        </p>
                    </div>
                </div>
                <div class="services__content__box__text__details col-lg-6 p-0">
                    <div class="services__content__box__text__details__title">
                        <h4>Human-centered design</h4>
                    </div>
                    <div class="services__content__box__text__details__description">
                        <p>We're all about UX! We know the fastest and most intuitive way of 
                            giving a user the answer he is looking for.
                        </p>
                    </div>
                </div>
            </div>

            <div class="services__content__box__image col-lg-6 d-flex justify-content-end">
                <img src="assets/images/ilustrations/analytic.svg" alt="img">
            </div>
            
        <!--  & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & & -->

        </div>
    </div>
</div>
