<div class="slider row d-flex justify-content-center mt-5 pb-5 p-5">
    <div class="slider__box col-md-4">
    <div class="slider__box__content">
        <div class="slider__box__content__title">
            <h4>Webuko</h4>
        </div>
        <div class="slider__box__content__avatar mt-2 mb-2">
            <img src="assets/images/1.jpeg" alt="">
        </div>
        <div class="slider__box__content__description d-flex">
            <p>HTML5</p>
            <p>CSS3</p>
            <p>NodeJs</p>
            <p>Angular</p>
        </div>
    </div>
    </div>
    <div class="slider__box col-md-4">
    <div class="slider__box__content">
        <div class="slider__box__content__title">
            <h4>Webuko</h4>
        </div>
        <div class="slider__box__content__avatar mt-2 mb-2">
            <img src="assets/images/2.jpeg" alt="">
        </div>
        <div class="slider__box__content__description d-flex">
            <p>HTML5</p>
            <p>CSS3</p>
            <p>NodeJs</p>
            <p>Angular</p>
        </div>
    </div>
    </div>
    <div class="slider__box col-md-4">
    <div class="slider__box__content">
        <div class="slider__box__content__title">
            <h4>Webuko</h4>
        </div>
        <div class="slider__box__content__avatar mt-2 mb-2">
            <img src="assets/images/3.jpeg" alt="">
        </div>
        <div class="slider__box__content__description d-flex">
            <p>HTML5</p>
            <p>CSS3</p>
            <p>NodeJs</p>
            <p>Angular</p>
        </div>
    </div>
    </div>
    <div class="right-arrow">
        <i class="fas fa-chevron-circle-right"></i>
    </div>
    <div class="left-arrow">
        <i class="fas fa-chevron-circle-right"></i>
    </div>
</div>