<div class="slider row d-flex justify-content-center mt-5 pb-5">
    <div class="slider__title col-12 mb-5">
        <h4>  Interested ? Choose your package</h4>
        <div class="mt-4">
            <p>
                They are people and organizations with ambitious missions. 
                They want to unleash the power of software for their cause or 
                business. We help them envisage, design, and deliver.
            </p>
        </div>
    </div>
    <div class="slider__box col-md-4">
    <div class="slider__box__content">
        <div class="slider__box__content__title">
            <h4>Starter</h4>
        </div>
        <div class="slider__box__content__avatar mt-2 mb-2">
            <img src="assets/images/ilustrations/starter.svg" alt="">
        </div>
        <div class="slider__box__content__description d-flex justify-content-center">
            <button class="btn-main">Choose Plan</button>
        </div>
    </div>
    </div>
    <div class="slider__box col-md-4">
    <div class="slider__box__content">
        <div class="slider__box__content__title">
            <h4>Basic</h4>
        </div>
        <div class="slider__box__content__avatar mt-2 mb-2">
            <img src="assets/images/ilustrations/rocket.svg" alt="">
        </div>
        <div class="slider__box__content__description d-flex justify-content-center">
            <button class="btn-main">Choose Plan</button>
        </div>
    </div>
    </div>
    <div class="slider__box col-md-4">
    <div class="slider__box__content">
        <div class="slider__box__content__title">
            <h4>Premium</h4>
        </div>
        <div class="slider__box__content__avatar mt-2 mb-2">
            <img src="assets/images/ilustrations/planet.svg" alt="">
        </div>
        <div class="slider__box__content__description d-flex justify-content-center">
            <button class="btn-main">Choose Plan</button>
        </div>
    </div>
    </div>

    <div class="slider__box__button col-12 mt-5 d-flex justify-content-center">
        <!-- <button class="btn-main" (click)="onNavigate()">Show more</button> -->
    </div>
    <!-- <div class="right-arrow">
        <i class="fas fa-chevron-circle-right"></i>
    </div>
    <div class="left-arrow">
        <i class="fas fa-chevron-circle-right"></i>
    </div> -->
</div>