<div class="content row d-flex justify-content-between align-items-center">
    <div class="content__text col-md-6">
            <h4>Do you want to <br> <strong>impress</strong>  your clients?</h4>
            <div class="mt-4">
                <button class="btn-main">Get early access</button>
            </div>
    </div>
    <div class="content__img col-md-5">
       <img src="/assets/images/Device.png" alt="">
    </div>
    <div class="row content__social col-12 mt-5 d-flex align-items-center justify-content-between">
        <div class="col-lg-2">
            <img src="/assets/images/google.svg" alt="">
        </div>
        <div class="col-lg-2">
            <img src="/assets/images/fb.svg" alt="">
        </div>
        <div class="col-lg-2">
            <img src="/assets/images/slack.svg" alt="">
        </div>
        <div class="col-lg-2">
            <img src="/assets/images/viber.svg" alt="">
        </div>
        <div class="col-lg-2">
            <img src="/assets/images/behance.svg" alt="">
        </div>
        <div class="col-lg-2">
            <img src="/assets/images/dribbble.svg" alt="">
        </div>
    </div>
</div>