<div class="about-us mt-5">
    <div class="about-us__content dark-content p-5">
        <div class="about-us__content__title col-12">
            <h4> {{ 'About-us.main-tit' | translate }} </h4>
            <p class="mt-4"> {{ 'About-us.main-des' | translate }} </p>
        </div>
        <div class="about-us__content__main d-flex row">
            <div class="about-us__content__main__image mt-3  col-md-6">
             <div class="dark-content h-100 p-4" >
                    <img src="assets/images/ilustrations/team.svg" alt="">
                </div>
            </div>
            <div class="about-us__content__main__description mt-3 col-md-6">
                <div class="about-us__content__main__description__effect  dark-content h-100 p-4">
                    <h4>{{ 'About-us.about-us' | translate }}</h4>
                    <p> {{ 'About-us.about-us-des' | translate }} </p>
                    <div class="about-us__content__main__description__button  d-flex">
                        <div class="about-us__content__main__description__button__title mt-4 w-100">
                            <div class="dark-content">
                                <h3>{{ 'About-us.Want to work with us ?' | translate }}</h3>
                            </div>
                            <div class="w-100 d-flex justify-content-center mt-5">
                                <button class="btn-main" (click)="onNavigate()"> {{ 'buttons.lets-talk' | translate }} </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>   