
//  * * *  Colors * * *  
$grey: #7887A7; 
$white: #FFFFFF; 
$main-black: #102131; 
$dark-grey: #274058; 
$light-grey: #677897; 
$cool-grey: #263F57; 
$linear-dark: linear-gradient(to right, #6a11cb -10%, #2575fc 100%);