@import '../../../assets/variables.scss';
.footer {
    border-top: 1px solid $cool-grey;
    &__language {
        .language-box {
            background: url('../../../assets/images/Path.png') no-repeat;
            color: $white;
            margin-right: 1rem;
        }
        p {
                color: #2A4560;
        }
    }
    &__menu {
        ul {
            li {
                list-style: none;
                a {
                    color: $light-grey;
                    font-size: 1rem;
                    cursor: pointer;
                    line-height: 2rem;
                    text-decoration: none;
    
                    &:hover {
                        color: $white;
                        transition: .3s;
                    }
                }
            }
        }
    }

    &__location-contact {
        &__location {
            p {
                color: #2A4560;
                font-size: .875rem;
            }
            i {
                color: #677897;
                font-size: 1.2rem;
                margin-right: 1.5rem;
            }
        }

        &__contact {
            .social-box {
                border-radius: 50%;
                padding: .4rem;
                background-color: $grey;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                i {
                    color: $main-black;
                    font-size: 1rem;
                }
            }
        }
    }

}

.active {
    color: $white !important;
    border-bottom: 1px solid $white;
}