<div class="footer d-flex justify-content-between row mt-5 p-3">
    <div class="footer__language d-flex col-lg-4">
        <div class="language-box">
            <span>EN</span>
        </div>
        <p>English</p>
    </div>
    <div class="footer__menu col-lg-5">
        <ul class="">
            <li>
                <a href="" [routerLink]="['home']" routerLinkActive="active" >
                    {{ 'navigation.Home' | translate }}
                </a>
            </li>
            <li>
                <a href="" [routerLink]="['services']" routerLinkActive="active" >
                    {{ 'navigation.Services' | translate }}
                </a>
            </li>
            <li>
                <a href="" [routerLink]="['about-us']" routerLinkActive="active" >
                    {{ 'navigation.About us' | translate }}
                </a>
            </li>
            <li>
                <a href="" [routerLink]="['order']" routerLinkActive="active" >
                    {{ 'navigation.Order' | translate }}
                </a>
            </li>
            <li>
                <a href="" [routerLink]="['contact']" routerLinkActive="active" >
                    {{ 'navigation.Contact' | translate }}
                </a>
            </li>
        </ul>
    </div>
    <div class="footer__location-contact col-lg-3">
        <div class="footer__location-contact__location d-flex">
            <i class="fas fa-map-marker-alt"></i>
            <p>vazha fshavela #61</p>
        </div>
        <div class="footer__location-contact__location d-flex">
            <i class="fas fa-envelope"></i>
            <p>supportwebuko@gmai.com</p>
        </div>
        <div class="footer__location-contact__location d-flex">
            <i class="fas fa-phone-square-alt"></i>
            <p>(+995) 599 12 32 70</p>
        </div>
        <div class="footer__location-contact__contact d-flex justify-content-between mt-4 mb-3">
            <div class="social-box">
                <i class="fab fa-facebook-f"></i>
            </div>
            <div class="social-box">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="social-box">
                <i class="fab fa-linkedin-in"></i>
            </div>
            <div class="social-box">
                <i class="fas fa-envelope"></i>
            </div>
        </div>
    </div>
</div>