<div class="navigation w-100">
    <ul class="d-flex justify-cotnent-between align-items-center m-0">
        <li class="col-lg" >
            <a [routerLink]="['/home']" routerLinkActive="active" >
                {{ 'navigation.Home' | translate }}
            </a>
        </li>
        <li class="col-lg">
            <a [routerLink]="['services']" routerLinkActive="active" >
                {{ 'navigation.Services' | translate }}
            </a>
        </li >
        <li class="col-lg">
            <a [routerLink]="['about-us']" routerLinkActive="active" >
                {{ 'navigation.About us' | translate }}
            </a>
        </li>
        <li class="col-lg">
            <a [routerLink]="['order']" routerLinkActive="active" >
                {{ 'navigation.Order' | translate }}
            </a> 
        </li>
        <li class="col-lg">
            <a [routerLink]="['contact']" routerLinkActive="active" >
                {{ 'navigation.Contact' | translate }}
            </a>
        </li>
    </ul>
</div>